body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  /* background-color: cadetblue; */
  padding: 10px;
}

.link {
  text-decoration: none;
  color: floralwhite;
  padding: 5px;
}

.link:hover {
  background-color: aliceblue;
  color: cadetblue;
  border-radius: 10px;
}

header {
  background-color: blueviolet;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.drop-content{
  display: none;
  z-index: 1;
  min-width: 100%;
  border: solid;
  align-content: center;
}

.drop-content li{
    list-style: none;
    display: block;
    
}

.dropdown:hover .drop-content{
  display: block;
  background-color: aliceblue;
  color: cadetblue;
  border-radius: 10px;
}

.drop-content li:hover{
  background-color: aqua;
  color: blue;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    /* background-color: cadetblue; */
    padding: 10px;
  }

  .link {
    text-decoration: none;
    color: floralwhite;
    padding: 5px;
  }

  .link:hover {
    background-color: aliceblue;
    color: cadetblue;
    border-radius: 10px;
  }

  ol {
    display: contents;
    list-style: none;
  }

  header {
    background-color: blueviolet;
  }
}
