/*Styling for specific field*/
input[type=number]{
    border: 2px solid purple;
    border-radius: 30px;
    
}

/*Styling for all fields*/
input{
    border: 2px solid blue;
    margin: 10px;
    padding-block: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

button{
    font-size: 25px;
    float: left;
    margin: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-block: 15px;
}

button:hover{
    background-color: darksalmon;
    color: darkgreen;
}

input[type=radio]{
    appearance: auto;
}

textarea{
    width: 100%;
    height: 15%;
}